{% extends 'views/layouts/main.twig' %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/js/jquery.jplot/jquery.js"></script>
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="/js/jquery.jplot/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="/js/jquery.jplot/jquery.jqplot.js"></script>
    <script class="include" type="text/javascript"
            src="/js/jquery.jplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script class="include" type="text/javascript"
            src="/js/jquery.jplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script class="include" type="text/javascript" src="/js/jquery.jplot/plugins/jqplot.ohlcRenderer.js"></script>
    <script class="include" type="text/javascript" src="/js/jquery.jplot/plugins/jqplot.highlighter.min.js"></script>
    <script class="include" type="text/javascript" src="/js/jquery.jplot/plugins/jqplot.cursor.min.js"></script>
    <link rel="stylesheet" href="/js/jquery.jplot/jquery.jqplot.css">
{% endblock %}

{% block body_close %}
    {{ parent() }}
    <script type="text/javascript" src="/js/test_plot.js"></script>
    <script type="text/javascript" src="/js/orders_ajax.js"></script>
    {% if transactionGroups %}
    <script type="text/javascript">
        var stockData = array();
            {% for trans, transItem in transactionGroups %}stockData.push(['{{ trans }}', '{{ transItem.open }}', '{{ transItem.hi }}','{{ transItem.low }}', '{{ transItem.close }}','{{ transItem.volume }}']);{% endfor %}
    </script>
    {% endif %}
{% endblock %}

{% block header %}
    {#<div class="logo container np">#}
    <div class="col-xs-12 logo-div ">
        <div class="col-xs-2 logo-img">
            <img src="img/logo.png" class="">
        </div>
        <div class="col-xs-7">
            <p class="m1e"> Last Price: <b>279.568 USD</b> Low: <b>277 USD</b> High: <b>282.9869 USD</b></p>

            <p class="m1e"> Volume: <b>5275 BTC / 1476257 USD</b> Server Time: <b>04.08.15 02:34</b></p>
        </div>
        <div class="col-xs-3">
            <form>
                <input type="text" name="email" class="mt1e" placeholder="E-mail">
                <input type="password" name="email" class="mt1e" placeholder="Пароль">
            </form>
            <p class="mt1e">
                {% if App.user.isGuest() %}<a href="{{ App.createUrl('user/login') }}">Войти</a>&nbsp;|&nbsp;
                {% else %}<input type="hidden" id="user_id" name="user_id" value="{{ App.user.id }}"><a href="{{ App.createUrl('user/logout') }}">{{ App.user.name }}</a>&nbsp;|&nbsp;
                {% endif %}
                <a href="{{ App.createUrl('user/registration') }}">Регистрация</a>&nbsp;|&nbsp;
                <a href="#">Забыл пароль</a>
            </p>
        </div>
    </div>
    {#</div>#}
{% endblock %}

{% block header_menu %}
    <div class="col-xs-12 menu1 np">
        <menu class="col-xs-12 np main-menu">
            <li><a href="#">Торги</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Правила</a></li>
            <li><a href="#">FuQ</a></li>
            <li><a href="/gii">Gii</a></li>
        </menu>
    </div>
{% endblock %}

{% block content %}
    <div class="col-xs-8">
        <div class="col-xs-12 border1 mb1e">
            <span><b>Новости</b></span>

            <p class="m1e"><b>19/08/2015</b> <span>Путин хуйло</span></p>

            <p class="m1e"><b>19/08/2015</b> <span>ла-ла-ла</span></p>
        </div>
        <div class="col-xs-12 border1 mb1e pt1e">
            <ul>
                <li class="price-li price-li-active"><a class="price-a price-a-active">USD</a></li>
                <li class="price-li"><a class="price-a">USD</a></li>
                {#<li class="price-li"><a class="price-a">USD</a></li>#}
                {#<li class="price-li"><a class="price-a">USD</a></li>#}
                {#<li class="price-li"><a class="price-a">USD</a></li>#}
                {#<li class="price-li"><a class="price-a">USD</a></li>#}
                {#<li class="price-li"><a class="price-a">USD</a></li>#}
                {#<li class="price-li"><a class="price-a">USD</a></li>#}
                {#<li class="price-li"><a class="price-a">USD</a></li>#}
                {#<li class="price-li"><a class="price-a">USD</a></li>#}
                {#<li class="price-li"><a class="price-a">USD</a></li>#}
                {#<li class="price-li"><a class="price-a">USD</a></li>#}
            </ul>
            <div class="col-xs-12 np diagramma">
                <div id="jqplot"></div>{#<img src="img/123.png">#}
            </div>
           {# <div class="col-xs-12 np diagramma">
                <div id="jqChartVolume"></div>&#123;&#35;<img src="img/123.png">&#35;&#125;
            </div>#}

        </div>
        <div class="col-xs-6 mb1e">
            {% include 'views/site/inc/buy_form.twig' %}
        </div>
        <div class="col-xs-6 mb1e">
            {% include 'views/site/inc/sell_form.twig' %}
        </div>

        <div class="clearfix">&nbsp;</div>

        <div class="col-xs-6 mb1e">
            <div class="border1 col-xs-12">
                <h5>Ордера на продажу BTC</h5>
                <p class="flr">Всего {{ orders.total.sell}} BTC</p>
                <div style="overflow:auto; max-height: 500px;" class="col-xs-12 np">
                <table class="table" style="width: 100%">
                    <tbody>
                    <tr class="table-bg">
                        <th>Цена</th>
                        <th>BTC</th>
                        <th>USD</th>
                    </tr>
                    {% for no,order in orders.sell  %}
                        {#TODO make normal style#}
                        <tr {% if order.user == user.id %} style="color: gainsboro; "{% endif %}>
                            <td>{{  order.price }}</td>
                            <td>{{  order.rest }}</td>
                            <td>{{  order.restCurrencyEquivalent }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="col-xs-6 mb1e">
            <div class="border1 col-xs-12">
                <h5>Ордера на покупку BTC</h5>
                <p class="flr">Всего {{ orders.total.buy }} BTC</p>
                <div style="overflow:auto; max-height: 500px;" class="col-xs-12 np">
                    <table class="table" style="width: 100%">
                        <tbody>
                        <tr class="table-bg">
                            <th>Цена</th>
                            <th>BTC</th>
                            <th>USD</th>
                        </tr>
                        {% for no,order in orders.buy %}
                            {#TODO find order.attributes expression#}
                            <tr{% if order.user == user.id %} style="color: gainsboro; "{% endif %}>
                                <td>{{  order.price }}</td>
                                <td>{{  order.rest }}</td>
                                <td>{{  order.restCurrencyEquivalent }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>



        <div class="col-xs-12 border1 mb1e">
            <h4>История сделок:</h4>

            <div style="overflow:auto; max-height: 500px;">
                <table class="table" style="width: 100%">
                    <tbody>
                    <tr class="table-bg">
                        <th style="width: 110px">Дата</th>
                        <th>Тип</th>
                        <th>Цена</th>
                        <th>Кол-во (BTC)</th>
                        <th>Всего (USD)</th>
                    </tr>
                    {% for tr_id,transaction in transactions %}
                        <tr>
                            <td><span>{{ transaction.date }}</span></td>
                            <td><b style="color:{% if transaction.isBTCBuy() %}green{% else %}red{% endif %}">{% if transaction.isBTCBuy() %}Покупка{% else %}Продажа{% endif %}</b></td>
                            <td>{{ transaction.src_price }}</td>
                            <td>{{ transaction.srcBTCEquivalent() }} BTC</td>
                            <td>{{ transaction.srcUSDEquivalent() }} USD</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <div class="col-xs-4">
        {#{{ dump(dataProvider) }}#}
    </div>
{% endblock %}



