{% extends 'views/layouts/main.twig' %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/js/jquery.jplot/jquery.js"></script>
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="/js/jquery.jplot/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="/js/jquery.jplot/jquery.jqplot.js"></script>
    <script class="include" type="text/javascript"
            src="/js/jquery.jplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script class="include" type="text/javascript"
            src="/js/jquery.jplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script class="include" type="text/javascript" src="/js/jquery.jplot/plugins/jqplot.ohlcRenderer.min.js"></script>
    <script class="include" type="text/javascript" src="/js/jquery.jplot/plugins/jqplot.highlighter.min.js"></script>
    <script class="include" type="text/javascript" src="/js/jquery.jplot/plugins/jqplot.cursor.min.js"></script>
    <link rel="stylesheet" href="/js/jquery.jplot/jquery.jqplot.css">
{% endblock %}

{% block body_close %}
    {{ parent() }}
    <script type="text/javascript" src="/js/test_plot.js"></script>
{% endblock %}

{% block header %}
    {#<div class="logo container np">#}
    <div class="col-xs-12 logo-div ">
        <div class="col-xs-2 logo-img">
            <img src="img/logo.png" class="">
        </div>
        <div class="col-xs-7">
            <p class="m1e"> Last Price: <b>279.568 USD</b> Low: <b>277 USD</b> High: <b>282.9869 USD</b></p>

            <p class="m1e"> Volume: <b>5275 BTC / 1476257 USD</b> Server Time: <b>04.08.15 02:34</b></p>
        </div>
        <div class="col-xs-3">
            <form>
                <input type="text" name="email" class="mt1e" placeholder="E-mail">
                <input type="password" name="email" class="mt1e" placeholder="Пароль">
            </form>
            <p class="mt1e">
                {% if App.user.isGuest() %}<a href="{{ App.createUrl('user/login') }}">Войти</a>&nbsp;|&nbsp;
                {% else %}<a href="{{ App.createUrl('user/logout') }}">{{ App.user.name }}</a>&nbsp;|&nbsp;
                {% endif %}
                <a href="#">Регистрация</a>&nbsp;|&nbsp;
                <a href="#">Забыл пароль</a>
            </p>
        </div>
    </div>
    {#</div>#}
{% endblock %}

{% block header_menu %}
    <div class="col-xs-12 menu1 np">
        <menu class="col-xs-12 np main-menu">
            <li><a href="#">Торги</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Правила</a></li>
            <li><a href="#">FuQ</a></li>
            <li><a href="/gii">Gii</a></li>
        </menu>
    </div>
{% endblock %}

{% block content %}
    <div class="col-xs-8">
        <div class="col-xs-12 border1 mb1e">
            <span><b>Новости</b></span>

            <p class="m1e"><b>19/08/2015</b> <span>Путин хуйло</span></p>

            <p class="m1e"><b>19/08/2015</b> <span>ла-ла-ла</span></p>
        </div>
        <div class="col-xs-12 border1 mb1e pt1e">
            <ul>
                <li class="price-li price-li-active"><a class="price-a price-a-active">USD</a></li>
                <li class="price-li"><a class="price-a">USD</a></li>
                <li class="price-li"><a class="price-a">USD</a></li>
                <li class="price-li"><a class="price-a">USD</a></li>
                <li class="price-li"><a class="price-a">USD</a></li>
                <li class="price-li"><a class="price-a">USD</a></li>
                <li class="price-li"><a class="price-a">USD</a></li>
                <li class="price-li"><a class="price-a">USD</a></li>
                <li class="price-li"><a class="price-a">USD</a></li>
                <li class="price-li"><a class="price-a">USD</a></li>
                <li class="price-li"><a class="price-a">USD</a></li>
                <li class="price-li"><a class="price-a">USD</a></li>
            </ul>
            <div class="col-xs-12 np diagramma">
                <div id="jqplot"></div>{#<img src="img/123.png">#}
            </div>

        </div>
        <div class="col-xs-6 mb1e">
            <div id="buy_form" class="border1 col-xs-12">
                <form action="{{ App.createUrl('order/create')}}" method="post">
                    <input type="hidden" name="src_wallet" value="">
                <h5>Купить BTC</h5>
                <div class="col-xs-12 order-h mb1e">
                    <div class="col-xs-6 np">
                        <span class="">Ваши средства:</span>

                        <p class=""><a href="">0 USD</a></p>
                    </div>
                    <div class="col-xs-6">
                        <span>Мин цена:</span>

                        <p><b>256.515 USD</b></p>
                    </div>
                </div>
                <table class="col-xs-12 order-t">
                    <tbody>
                    <tr>
                        <td class="w150p">Количество BTC:</td>
                        <td class="w150p"><input id="buy_count" class="w110p" maxlength="25" type="text" value="0"></td>
                    </tr>
                    <tr class="">
                        <td>Цена за BTC:</td>
                        <td><input id="buy_price" class="w110p" type="text" maxlength="7" value="255.569"> USD</td>
                    </tr>
                    <tr>
                        <td>Всего:</td>
                        <td><b id="buy_total">0</b> <b>USD</b></td>
                    </tr>
                    <tr>
                        <td>Комиссия:</td>
                        <td><b id="buy_commission">0</b> <b>BTC</b></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="order-t-l">
                            <div>Нажмите <b>подсчитать</b>, чтобы рассчитать сумму в соответствии с ордерами.</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="" id="buy_calculate" class="button" style="float: left;">Подсчитать</a>

                            <div class=""></div>
                            <a href="" id="buy_process" class="button" style="float: right;">Купить BTC</a>

                        </td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
        <div class="col-xs-6 mb1e">
            <div id="sell_form" class="border1 col-xs-12">
                <h5>Продать BTC</h5>

                <div class="col-xs-12 order-h mb1e">
                    <div class="col-xs-6 np">
                        <span class="">Ваши средства:</span>
                        <p class=""><a href="">0 BTC</a></p>
                    </div>
                    <div class="col-xs-6">
                        <span>Мин цена:</span>
                        <p><b>256.515 USD</b></p>
                    </div>
                </div>
                <table class="col-xs-12 order-t">
                    <tbody>
                    <tr>
                        <td class="w150p">Количество BTC:</td>
                        <td class="w150p"><input id="sell_count" class="w110p" maxlength="25" type="text" value="0"></td>
                    </tr>
                    <tr class="">
                        <td>Цена за BTC:</td>
                        <td><input id="sell_price" class="w110p" type="text" maxlength="7" value="255.569"> USD</td>
                    </tr>
                    <tr>
                        <td>Всего:</td>
                        <td><b id="sell_total">0</b> <b>USD</b></td>
                    </tr>
                    <tr>
                        <td>Комиссия:</td>
                        <td><b id="sell_commission">0</b> <b>BTC</b></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="order-t-l">
                            <div>Нажмите <b>подсчитать</b>, чтобы рассчитать сумму в соответствии с ордерами.</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="" id="sell_calculate" class="button" style="float: left;">Подсчитать</a>

                            <div class=""></div>
                            <a href="" id="sell_process" class="button" style="float: right;">Купить BTC</a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <div class="col-xs-6 mb1e">
            <div class="border1 col-xs-12">
                <h5>Ордера на продажу</h5>
                <p class="flr">Всего 110000 BTC</p>
                <div style="overflow:auto; max-height: 500px;" class="col-xs-12 np">
                <table class="table" style="width: 100%">
                    <tbody>
                    <tr class="table-bg">
                        <th>Цена</th>
                        <th>BTC</th>
                        <th>USD</th>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>255</td>
                        <td>7</td>
                        <td>2000</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="col-xs-6 mb1e">
            <div class="border1 col-xs-12">
                <h5>Ордера на продажу</h5>
                <p class="flr">Всего 110000 BTC</p>
                <div style="overflow:auto; max-height: 500px;" class="col-xs-12 np">
                    <table class="table" style="width: 100%">
                        <tbody>
                        <tr class="table-bg">
                            <th>Цена</th>
                            <th>BTC</th>
                            <th>USD</th>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>255</td>
                            <td>7</td>
                            <td>2000</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>



        <div class="col-xs-12 border1 mb1e">
            <h4>История сделок:</h4>

            <div style="overflow:auto; max-height: 500px;">
                <table class="table" style="width: 100%">
                    <tbody>
                    <tr class="table-bg">
                        <th style="width: 110px">Дата</th>
                        <th>Тип</th>
                        <th>Цена</th>
                        <th>Кол-во (BTC)</th>
                        <th>Всего (USD)</th>
                    </tr>
                    <tr>
                        <td><span>18.08.15 03:47</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255.1 USD</td>
                        <td>0.047<span style="color:#868686">7449</span> BTC</td>
                        <td>12.179<span style="color:#868686">72399</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="5 мин. назад">18.08.15 03:45</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.091<span style="color:#868686">3688</span> BTC</td>
                        <td>23.299<span style="color:#868686">044</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="5 мин. назад">18.08.15 03:45</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.078<span style="color:#868686">2912</span> BTC</td>
                        <td>19.964<span style="color:#868686">256</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255.1 USD</td>
                        <td>0.071<span style="color:#868686">085</span> BTC</td>
                        <td>18.133<span style="color:#868686">7835</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.028<span style="color:#868686">915</span> BTC</td>
                        <td>7.373<span style="color:#868686">325</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.301 BTC</td>
                        <td>76.755 USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.72 BTC</td>
                        <td>183.6 USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255.1 USD</td>
                        <td>0.912 BTC</td>
                        <td>232.651<span style="color:#868686">2</span> USD</td>
                    </tr>

                    <tr>
                        <td><span title="12 мин. назад">18.08.15 03:38</span></td>
                        <td><b style="color:red">Sell</b></td>
                        <td>255 USD</td>
                        <td>0.999<span style="color:#868686">913</span> BTC</td>
                        <td>254.977<span style="color:#868686">815</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="5 мин. назад">18.08.15 03:45</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.078<span style="color:#868686">2912</span> BTC</td>
                        <td>19.964<span style="color:#868686">256</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255.1 USD</td>
                        <td>0.071<span style="color:#868686">085</span> BTC</td>
                        <td>18.133<span style="color:#868686">7835</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.028<span style="color:#868686">915</span> BTC</td>
                        <td>7.373<span style="color:#868686">325</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.301 BTC</td>
                        <td>76.755 USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.72 BTC</td>
                        <td>183.6 USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255.1 USD</td>
                        <td>0.912 BTC</td>
                        <td>232.651<span style="color:#868686">2</span> USD</td>
                    </tr>

                    <tr>
                        <td><span title="12 мин. назад">18.08.15 03:38</span></td>
                        <td><b style="color:red">Sell</b></td>
                        <td>255 USD</td>
                        <td>0.999<span style="color:#868686">913</span> BTC</td>
                        <td>254.977<span style="color:#868686">815</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="5 мин. назад">18.08.15 03:45</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.078<span style="color:#868686">2912</span> BTC</td>
                        <td>19.964<span style="color:#868686">256</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255.1 USD</td>
                        <td>0.071<span style="color:#868686">085</span> BTC</td>
                        <td>18.133<span style="color:#868686">7835</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.028<span style="color:#868686">915</span> BTC</td>
                        <td>7.373<span style="color:#868686">325</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.301 BTC</td>
                        <td>76.755 USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.72 BTC</td>
                        <td>183.6 USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255.1 USD</td>
                        <td>0.912 BTC</td>
                        <td>232.651<span style="color:#868686">2</span> USD</td>
                    </tr>

                    <tr>
                        <td><span title="12 мин. назад">18.08.15 03:38</span></td>
                        <td><b style="color:red">Sell</b></td>
                        <td>255 USD</td>
                        <td>0.999<span style="color:#868686">913</span> BTC</td>
                        <td>254.977<span style="color:#868686">815</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="5 мин. назад">18.08.15 03:45</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.078<span style="color:#868686">2912</span> BTC</td>
                        <td>19.964<span style="color:#868686">256</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255.1 USD</td>
                        <td>0.071<span style="color:#868686">085</span> BTC</td>
                        <td>18.133<span style="color:#868686">7835</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.028<span style="color:#868686">915</span> BTC</td>
                        <td>7.373<span style="color:#868686">325</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.301 BTC</td>
                        <td>76.755 USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.72 BTC</td>
                        <td>183.6 USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255.1 USD</td>
                        <td>0.912 BTC</td>
                        <td>232.651<span style="color:#868686">2</span> USD</td>
                    </tr>

                    <tr>
                        <td><span title="12 мин. назад">18.08.15 03:38</span></td>
                        <td><b style="color:red">Sell</b></td>
                        <td>255 USD</td>
                        <td>0.999<span style="color:#868686">913</span> BTC</td>
                        <td>254.977<span style="color:#868686">815</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="5 мин. назад">18.08.15 03:45</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.078<span style="color:#868686">2912</span> BTC</td>
                        <td>19.964<span style="color:#868686">256</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255.1 USD</td>
                        <td>0.071<span style="color:#868686">085</span> BTC</td>
                        <td>18.133<span style="color:#868686">7835</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.028<span style="color:#868686">915</span> BTC</td>
                        <td>7.373<span style="color:#868686">325</span> USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.301 BTC</td>
                        <td>76.755 USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255 USD</td>
                        <td>0.72 BTC</td>
                        <td>183.6 USD</td>
                    </tr>
                    <tr>
                        <td><span title="6 мин. назад">18.08.15 03:44</span></td>
                        <td><b style="color:green">Buy</b></td>
                        <td>255.1 USD</td>
                        <td>0.912 BTC</td>
                        <td>232.651<span style="color:#868686">2</span> USD</td>
                    </tr>

                    <tr>
                        <td><span title="12 мин. назад">18.08.15 03:38</span></td>
                        <td><b style="color:red">Sell</b></td>
                        <td>255 USD</td>
                        <td>0.999<span style="color:#868686">913</span> BTC</td>
                        <td>254.977<span style="color:#868686">815</span> USD</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <div class="col-xs-4">
        {#{{ dump(dataProvider) }}#}
    </div>
{% endblock %}



